<ion-content class="ion-padding">
  <div class="ion-text-center" style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h1>Welcome to Fraud AI</h1>
        </ion-card-title>
        <ion-card-subtitle>The most advanced fraud detection platform.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          Leverage the power of artificial intelligence to protect your business from fraudulent activities.
          Our platform provides real-time analysis and insights to help you make informed decisions.
        </p>
        <ion-button routerLink="/playground" size="large" class="ion-margin-top">Get Started</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
