:host {
  display: block;
}

.code-block-container {
  position: relative;
}

app-copy-button {
  position: absolute;
  top: var(--space-3);
  right: var(--space-3);
  z-index: 1;
}

/* Let global styles on `pre` handle the appearance */
pre {
  margin: 0;
}
