<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Fraud AI</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/">Home</ion-button>
      <ion-button routerLink="/docs">Docs</ion-button>
      <ion-button routerLink="/playground">Playground</ion-button>
      <ion-button routerLink="/keys" *ngIf="authService.user$ | async">API Keys</ion-button>
      <ion-button (click)="toggleTheme()">
        <ion-icon slot="icon-only" [name]="(themeService.isDark$ | async) ? 'moon' : 'sunny'"></ion-icon>
      </ion-button>
      <ion-button *ngIf="(authService.user$ | async) === null" routerLink="/login" shape="round">Login</ion-button>
      <ion-button *ngIf="authService.user$ | async" (click)="logout()" shape="round">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
