<ion-header class="custom-header" mode="ios">
  <ion-toolbar>
    <div class="header-container">
      <div class="start-section">
        <ion-buttons>
          <ion-menu-button class="menu-button"></ion-menu-button>
        </ion-buttons>
        <app-brand-logo></app-brand-logo>
      </div>

      <div class="end-section">
        <div class="desktop-nav">
          <ion-button routerLink="/playground" fill="clear" class="nav-link">Playground</ion-button>
          <ion-button routerLink="/docs" fill="clear" class="nav-link">Docs</ion-button>
          <ion-button *ngIf="authService.user$ | async" routerLink="/keys" fill="clear" class="nav-link">API Keys</ion-button>
        </div>

        <app-theme-toggle></app-theme-toggle>

        <ion-button *ngIf="(authService.user$ | async) === null" routerLink="/auth/sign-in" shape="round" class="login-button">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          Sign In
        </ion-button>

        <ion-button *ngIf="authService.user$ | async" (click)="logout()" shape="round" class="logout-button" fill="outline">
           <ion-icon slot="start" name="log-out-outline"></ion-icon>
           Sign Out
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
