ion-buttons[slot='end'] {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  ion-buttons[slot='end'] .nav-link {
    display: none;
  }
}

@media (min-width: 768px) {
  ion-menu-button {
    display: none;
  }
}