<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="playground" href="/tabs/playground">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Playground</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="keys" href="/tabs/keys">
      <ion-icon name="key"></ion-icon>
      <ion-label>API Keys</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="metrics" href="/tabs/metrics">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Metrics</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
