<ion-content class="ion-padding">
  <div class="auth-container">
    <ion-card class="auth-card">
      <ion-card-header>
        <ion-card-title>Sign Up</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="signUp()">
          <ion-list lines="none">
            <ion-item>
              <ion-input label="Name" labelPlacement="floating" formControlName="name" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Email" labelPlacement="floating" formControlName="email" type="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Password" labelPlacement="floating" formControlName="password" type="password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Confirm Password" labelPlacement="floating" formControlName="confirmPassword" type="password" required></ion-input>
            </ion-item>
          </ion-list>
          <ion-button type="submit" expand="block" [disabled]="form.invalid || loading">
            <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
            <span *ngIf="!loading">Sign Up</span>
          </ion-button>
        </form>
        <p class="ion-text-center">
          Already have an account? <a routerLink="/auth/sign-in">Sign In</a>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
